.navbar{
    display: flex;
    justify-content: center;
    margin: 20px;
}        

.navbar nav{
    display: flex;
    gap: 20px;
}   

.navbar nav a{
    text-decoration: none;
    color: white;
}